<!DOCTYPE html>
<html ng-app='you'>
<head>
    <title>Friends</title>
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9ZjSeB4LZExOk1_WPEtgp8vTpt0kRhW4&libraries=places"></script>
    <script type="text/javascript" src="js/moment.js"></script>
    <script type="text/javascript" src="js/moment-timezone.js"></script>
    <script type="text/javascript" src="js/JSONP-min.js"></script>

    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/weather-icons.min.css">
    <link rel="stylesheet" href="css/main.css">

</head>
<body>
    <script type="text/javascript">
        if (!String.prototype.format) {
          String.prototype.format = function() {
            var args = arguments;
            return this.replace(/{(\d+)}/g, function(match, number) {
              return typeof args[number] != 'undefined' ? args[number] : match;
            });
          };
        }
    </script>

    <div ng-controller="FriendsListController as friends" class="app">
        <div ng-repeat="friend in friends.friendList track by $index" on-finish-render="ngRepeatFinished" class="friend">
            <div class="information">
                <div class="avatar">
                    <img ng-src="assets/{{friend.avatar}}"/>
                <div id="overlay">edit</div>
                </div>
                <div class="name-city">
                    <h2>{{friend.name}}</h2>
                    <h5>{{friend.location.city + ', ' + friend.location.country}}</h5>
                </div>
                <div class="date-time">
                    <h2>{{friend.now}}</h2>
                    <h5>{{friend.today}}</h5>
                </div>
            </div>
            <div class="forecast">
                <div class="arrow"></div>
                <div class="weather">
                    <i class="weather-icon wi {{friend.location.weather.icon}}"></i>
                    <div class="degree-summary">
                        <h2>{{friend.location.weather.temperature}}&#8451;</h2>
                        <h5>{{friend.location.weather.summary}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="add-modal" id="animatedModal">
        <!--THIS IS IMPORTANT! to close the modal, the class name has to match the name given on the ID  class="close-animatedModal" -->
        <div class="close-button">
            <i type="submit" class="close-animatedModal fa fa-times-circle-o fa-3x"></i>
        </div>

        <form ng-submit="friendCtrl.addFriend()" ng-controller="AddFriendsController as friendCtrl" class="modal-content" form-autofill-fix>
          <!--Your modal content goes here-->
              <div id="the-basics">
              <h1>What is your friend's name?</h1>
              <input class="name" id="name" ng-model="friendCtrl.name" type="text" placeholder="Enter a name">
              <h1>And where does he/she live?</h1>
                <input class="typeahead" id="google" ng-model="friendCtrl.location" type="text">
              </div>
              <input type="submit" id="submit" value="Submit"/>
              <!-- <button class="uk-button" type="button" onclick="localStorage.clear()">Clear</button> -->
        </form>

    </div>

    <div class="add-button">
        <i href="#animatedModal" id="addFriends" type="submit" class="fa fa-plus-circle fa-3x"></i>
    </div>


    <script type="text/javascript" src="js/animatedModal.min.js"></script>
    <script>
        $("#addFriends").animatedModal({
            color: '#152744',
            animatedIn:'lightSpeedIn',
            animatedOut:'bounceOutDown',
        });
        initAutoComplete('google');
    </script>
</body>
</html>